:root{
  --color--barra--izq: #003cff;
  --muted: #6b6b6b;
  --bg: #ececec;
}

/* Reset / base */
*{box-sizing:border-box}
body{
  margin:0;
  padding-top: 50px;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background:var(--bg);
  color:#222;
  -webkit-font-smoothing:antialiased;
}

/* Layout */
.pantalla{display:flex; min-height:100vh}

/* Sidebar */
.menu-lateral {
  width:220px;
  background:var(--color--barra--izq);
  color:white;
  position:fixed;
  top:50px;  /* 🔹 debajo de la barra */
  left:0;
  bottom:0;
  padding:20px 12px;
  z-index: 500;  /* 🔹 más chico que la barra */
}


.menu-lateral nav ul{list-style:none;padding:0;margin:0}
.menu-lateral nav li{margin:10px 0}
.menu-lateral nav a{
  color:white;
  border-color: white;
  background-color: #00124e;
  text-decoration:none;
  display:flex;
  align-items:center;
  gap:8px;
  font-size:15px;
  height: 60px;
  padding:10px 12px;
  border-radius:8px;
  border: 2px solid white;
  transition: all 0.25s ease-in-out;
}
.menu-lateral nav a:hover,
.menu-lateral nav a:focus{
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transform: translateX(12px);
}


.img-logo{
  width: 110px;
  height: 110px;
  margin: 40px;
  border-radius: 10px;
  border:5px solid rgb(0, 170, 255);
}

.foto-de-perfil{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid rgb(0, 170, 255);

}


.barra-superior {
    width: 100%;
    height: 50px;
    background-color: #ffffff; /* azul, como tu menú lateral */
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* queda por encima */
}

/* Contenedor usuario ocupa 25% y lo manda a la derecha */
.barra-superior .usuario {
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid rgb(0, 170, 255);
    border-top: 2px solid rgb(0, 170, 255);
}

.barra-superior .deslogin {
    width: 5%;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 16px;
    background-color: rgb(68, 0, 255);
    border-radius: 5px;
  
}
.barra-superior .link-deslog {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.barra-superior .espacio {
  width: 30px;
}


