body {
    font-family: Arial, sans-serif;
    background: #012246; /* Fondo azul */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Para evitar márgenes que puedan mostrar otro color */
}
.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
    width: 320px;
}
.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-box input[type="submit"],
.login-box button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.login-box input[type="submit"]:hover,
.login-box button:hover {
    background: #0056b3;
}
.toggle-form {
    text-align: center;
    margin-top: 10px;
}
.toggle-form a {
    cursor: pointer;
    color: #007BFF;
    text-decoration: none;
}
.toggle-form a:hover {
    text-decoration: underline;
}
.msg {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.success { background: #d4edda; color: #155724; }
.error   { background: #f8d7da; color: #721c24; }
